# Node modules
node_modules/
frontend/node_modules/
server/node_modules/

# Environment files
.env
*.env
.env.local
*.env.local
.next/

# Build files
frontend/dist/
frontend/build/
frontend/.next/
server/dist/

# OS / editor junk
.DS_Store
Thumbs.dbgit 
